<%= form_with model: @employee do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :available_users_id %>
    <%= f.collection_select(:user_id, User.where.not(id: Employee.pluck(:user_id)), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :address_id %>
    <%= f.collection_select(:address_id, Address.all, :id, :street_address) %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>