<div id="<%= dom_id employee %>">
  <p>
    <strong>user_id:</strong>
    <%= employee.user_id %>
  </p>

  <p>
    <strong>address_id:</strong>
    <%= employee.address_id %>
  </p>

  <p>
    <strong>phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>email:</strong>
    <%= employee.email %>
  </p>

</div>
