<div id="<%= dom_id restaurant %>">
  <p>
    <strong>user_id:</strong>
    <%= restaurant.user_id %>
  </p>

  <p>
    <strong>address_id:</strong>
    <%= restaurant.address_id %>
  </p>

  <p>
    <strong>phone:</strong>
    <%= restaurant.phone %>
  </p>

  <p>
    <strong>email:</strong>
    <%= restaurant.email %>
  </p>

  <p>
    <strong>name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>price_range:</strong>
    <%= restaurant.price_range %>
  </p>

  <p>
    <strong>active:</strong>
    <%= restaurant.active %>
  </p>

</div>
