<div id="restaurant-page">
  <h1>Restaurant</h1>
  <div id="new-restaurant">
    <%= link_to "New Restaurant", new_restaurant_path %>
  </div>
  <p style="color: green"><%= notice %></p>
  <table class="table table-striped">
    <tr> 
      <th>
        User ID
      </th>
      <th>
        User's Name
      </th>
      <th>
        Address ID
      </th>
      <th>
        Address
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>
        Name
      </th>
      <th>
        Price range
      </th>
      <th>
        Active
      </th>
      <th></th>
      <th></th>
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr> 
        <td>
          <%= restaurant.user_id %>
        </td>
        <td>
          <%= restaurant.user.name %>
        </td>
        <td>
          <%= restaurant.address_id %>
        </td>
        <td>
          <%= "#{restaurant.address.street_address}, #{restaurant.address.city}" %>
        </td>
        <td>
          <%= restaurant.phone %>
        </td>
        <td>
          <%= restaurant.email %>
        </td>
        <td>
          <%= restaurant.name %>
        </td>
        <td>
          <%= restaurant.price_range %>
        </td>
        <td>
          <%= restaurant.active %>
        </td>
        <td class="dark-green">
          <%= link_to "Show", restaurant %>
        </td>
        <td class="dark-green">
          <%= link_to "Edit", edit_restaurant_path(restaurant) %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="color: white">coucou</p>
</div>
